.bg-color__mycolor {
    background-color:#733773;
}

.btn-color__mycolor{
    background-color:#733773;
    color:#FFFFFF;
}

.result-hidden {
    max-height: 0px;
    overflow: hidden;
}
.result-show {
    overflow:hidden;
    max-height: 999px;
    display:block;
    transition: max-height 1s ease-in;
}

h6 {
    font-weight: 200;
    text-transform: uppercase;
}
