.bg-color__mycolor {
    background-color:#AF111C;
}

.btn-color__mycolor{
    background-color:#AF111C;
    color:#FFFFFF;
}

#loading, #result {
    display: none;
}

h6 {
    font-weight: 200;
    text-transform: uppercase;
}
